.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login__logo {
  text-align: center;
}

.login__logo img {
  width: 100px;
  height: 100px;
}
