.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto 1fr;
  background-color: white;
  margin-bottom: 40px;
  border-radius: 10px;
  overflow: hidden;
  width: 800px;
  height: fit-content;
  padding: 20px;
}

.card__image {
  grid-row: span 3;
  margin: auto auto;
}

.card__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card__authors {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.card_description {
  margin-top: 20px;
}
